- content_for :header, render("companies/header", company: @company)
- content_for :nav, render("companies/nav", company: @company)

= render @company.private_posts(params[:page])

.text-center
  = paginate @company.private_posts(params[:page]), theme: "twitter-bootstrap-3"
