// nav
.secondary-nav {
  @include margin($small-spacing null);

  border-bottom: 1px solid $light-gray;
}

.secondary-nav ul {
  display: flex;
  justify-content: center;
}

.secondary-nav li {
  padding: $small-spacing $base-spacing;
}

.secondary-nav li a {
  width: 100%;
  text-decoration: none;
}
